body{
  font-family: 'Kanit', sans-serif;
  background-color: white;
  text-align: center;
}

.img-responsive{
  margin: 0 auto;
  margin-bottom: 10px;
}

.nav a{
    font-size: 1.5em !important;
}

h1{
  font-size: 1.8em;
}

p{
  font-size: 1.5em;
}
